<body>
    <section class="dest">
        <div class="txt">
          <h1>Popular Destinations</h1>
        </div>
        <div class="main-con">
          <div class="box">
            <img
              src="https://images.unsplash.com/photo-1555217851-6141535bd771?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8c2luZ2Fwb3JlfGVufDB8fDB8fHww"
              alt="">
            <div class="name">
              <p>Best Place Sinpore</p>
            </div>
          </div>
          <div class="box-sec-2">
            <div class="box2">
              <img
                src="https://images.unsplash.com/photo-1552415274-73ad7198cb93?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHNpbmdhcG9yZXxlbnwwfHwwfHx8MA%3D%3D"
                alt="">
              <div class="name">
                <p>Best Place Sinpore</p>
              </div>
            </div>
    
            <div class="box2">
              <img
                src="https://images.unsplash.com/photo-1533281808624-e9b07b4294ff?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHNpbmdhcG9yZXxlbnwwfHwwfHx8MA%3D%3D"
                alt="">
              <div class="name">
                <p>Best Place Sinpore</p>
              </div>
            </div>
    
            <div class="box2">
              <img
                src="https://images.unsplash.com/photo-1574227492706-f65b24c3688a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHNpbmdhcG9yZXxlbnwwfHwwfHx8MA%3D%3D"
                alt="">
              <div class="name">
                <p>Best Place Sinpore</p>
              </div>
            </div>
    
            <div class="box2">
              <img
                src="https://images.unsplash.com/photo-1600664356348-10686526af4f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHNpbmdhcG9yZXxlbnwwfHwwfHx8MA%3D%3D"
                alt="">
              <div class="name">
                <p>Best Place Sinpore</p>
              </div>
            </div>
          </div>
        </div>
      </section>    
</body>
<app-contact-us></app-contact-us>