<body>
    <section class="offer">
        <div class="txt">
          <h1 class="offer-text">Recent Place Offer</h1>
        </div>
        <div class="main-con">
          <div class="box">
            <img width="280px"
              src="https://images.unsplash.com/photo-1525625293386-3f8f99389edd?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c2luZ2Fwb3JlfGVufDB8fDB8fHww"
              alt="">
            <div class="txt">
              <p>The Best Place Sinpore Check Details</p>
              <p>10 Days Form <span>50,000</span></p>
            </div>
            <div class="btn">
              <button>Book Now</button>
            </div>
          </div>
    
          <div class="box">
            <img width="280px"
              src="https://images.unsplash.com/photo-1496939376851-89342e90adcd?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c2luZ2Fwb3JlfGVufDB8fDB8fHww"
              alt="">
            <div class="txt">
              <p>The Best Place Sinpore Check Details</p>
              <p>10 Days Form <span>50,000</span></p>
            </div>
            <div class="btn">
              <button>Book Now</button>
            </div>
          </div>
    
          <div class="box">
            <img width="280px"
              src="https://images.unsplash.com/photo-1565967511849-76a60a516170?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8c2luZ2Fwb3JlfGVufDB8fDB8fHww"
              alt="">
            <div class="txt">
              <p>The Best Place Sinpore Check Details</p>
              <p>10 Days Form <span>50,000</span></p>
            </div>
            <div class="btn">
              <button>Book Now</button>
            </div>
          </div>
    
          <div class="box">
            <img width="280px"
              src="https://images.unsplash.com/flagged/photo-1562503542-2a1e6f03b16b?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="">
            <div class="txt">
              <p>The Best Place Sinpore Check Details</p>
              <p>10 Days Form <span>50,000</span></p>
            </div>
            <div class="btn">
              <button>Book Now</button>
            </div>
          </div>
        </div>
      </section>
</body>
<app-bestplace></app-bestplace>
