<body>
  <nav class="header">
    <div class="logo">
      <h2>TRAVEL SCHOOL</h2>
    </div>
    <div class="menu-item">
      <a class="home" href="/">
        <li>Home</li>
      </a>
      <a href="">
        <li>Booking</li>
      </a>
      <a href="">
        <li>Best Place</li>
      </a>
      <a href="">
        <li>Contact Us</li>
      </a>
    </div>
  </nav>

  <section class="bg-sec">
    <div class="txt">
      <p class="first-txt">Welcome to <span>TRAVEL SCHOOL</span> UP to 30% OFF</p>
      <h2>Join Over 30,000 Member.</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste eos consectetur provident?</p>
    </div>
    <div class="srch">
      <input type="email" name="email" id="" placeholder="Enter Your Email">
      <button>Subscribe</button>
    </div>
  </section>
   <app-booking></app-booking>
</body>